.body_bg {
  background-color: #222D32;
}

.panel-title {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
}

.mt_150 {
  margin-top: 150px;
}


.table.table-bordered th,
.table.table-bordered td {
  text-align: center;
  vertical-align: middle;
}